# Creado por https://www.toptal.com/developers/gitignore/api/linux,visualstudiocode
# Editar en https://www.toptal.com/developers/gitignore?templates=linux,visualstudiocode

###Linux ###
*~

# archivos temporales que se pueden crear si un proceso todavía tiene un identificador abierto de un archivo eliminado
.fuse_hidden*

# Preferencias del directorio de KDE
.directorio

# Carpeta de basura de Linux que puede aparecer en cualquier partición o disco.
.Basura-*

# Los archivos .nfs se crean cuando se elimina un archivo abierto pero aún se accede a él
.nfs*

### Código VisualStudio ###
.vscode/*
!.vscode/configuración.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensiones.json
!.vscode/*.fragmentos de código

# Historial local para Visual Studio Code
.historia/

# Extensiones de código de Visual Studio creadas
*.vsix

### Parche de VisualStudioCode ###
# Ignorar todo el historial local de archivos
.historia
.ionuro

# Fin de https://www.toptal.com/developers/gitignore/api/linux,visualstudiocode


#mi archivo personal

prueba.txt